@use 'partials/variables' as *;
@use 'partials/mixins' as *;

.banner {
    background: url('/assets/images/hero-bio.jpg')
        rgba($primary-color-black, 0.5);
}

.content {
    padding: 0 toRem($padding-mobile-between-components-px);
    line-height: toRem($line-height-mobile-body-px);

    @include tablet {
        padding: 0 10.25vw;
        line-height: toRem($line-height-tablet-body-px);
    }
    @include desktop {
        padding: 0 18.25vw;
        line-height: toRem($line-height-tablet-body-px);
    }

    &__title-page-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-page-header-px);
        padding: toRem($padding-mobile-before-headlines-px) 0
            toRem($padding-mobile-after-headlines-px) 0;

        @include tablet {
            font-size: toRem($font-tablet-page-header-px);
            padding: toRem($padding-tablet-before-headlines-px) 0
                toRem($padding-tablet-after-headlines-px) 0;
        }
        @include desktop {
            font-size: toRem($font-tablet-page-header-px);
            padding: toRem($padding-desktop-before-headlines-px) 0
                toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9;
    }

    &__title-section-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-section-header-px);
        line-height: toRem($line-height-mobile-section-header-px);
        padding: 2rem 0 1rem 0;

        @include tablet {
            margin-left: -3.25rem;
            font-size: toRem($font-tablet-section-header-px);
            line-height: toRem($line-height-tablet-section-header-px);
            padding: toRem($padding-tablet-before-headlines-px) 0
                toRem($padding-tablet-after-headlines-px) 0;
            line-height: toRem($line-height-tablet-section-header-px);
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px) 0
                toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    &__title-subheader {
        font-weight: bold;
        font-size: toRem($font-mobile-subheader-px);
        line-height: toRem($line-height-mobile-subheader-px);
        padding: 0 0 toRem($padding-mobile-between-components-px) 0;

        @include tablet {
            font-size: toRem($font-tablet-subheader-px);
            line-height: toRem($line-height-tablet-subheader-px);
            padding: toRem($padding-tablet-before-headlines-px) 0
                toRem($padding-tablet-after-headlines-px) 0;
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px) 0
                toRem($padding-desktop-after-headlines-px) 0;
        }
    }
}

.quote {
    &__title {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-quote-title-px);
        line-height: toRem($line-height-mobile-quote-title-px);
        padding: 1rem 0 0.5rem 0;

        @include tablet {
            font-size: toRem($font-tablet-quote-title-px);
            line-height: toRem($line-height-tablet-quote-title-px);
            padding: 1.5rem 0 0.25rem 0;
        }
    }

    &__auther {
        font-size: toRem($font-mobile-quote-author-px);
        font-family: 'Avenir Next Demi', sans-serif;

        @include tablet {
            font-size: toRem($font-tablet-quote-author-px);
            padding: 0.25rem 0 1rem 0;
        }
    }
}

.paragraph {
    padding: 0 0 toRem($padding-mobile-after-headlines-px) 0;

    &__title {
        font-size: toRem($font-mobile-paragraph-title-px);
        font-family: 'Avenir Next Demi', sans-serif;
        padding: 2rem 0 0.75rem 0;

        @include tablet {
            font-size: toRem($font-tablet-paragraph-title-px);
            padding: 1.25rem 0 1.25rem 0;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include tablet {
            flex-direction: row;
            gap: 2rem;
        }
    }
}

.photo-gallery {
    background-color: $secondary-color-alabaster;
    padding: 0 toRem($padding-mobile-between-components-px)
        toRem($padding-mobile-between-components-px);
    line-height: toRem($line-height-mobile-body-px);

    @include tablet {
        padding: 0 toRem($padding-tablet-between-components-px)
            toRem($padding-tablet-between-components-px);
        line-height: toRem($line-height-tablet-body-px);
    }
    @include desktop {
        padding: 0 toRem($padding-desktop-between-components-px)
            toRem($padding-desktop-between-components-px);
    }

    &__title-section-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-section-header-px);
        padding: toRem($padding-mobile-after-headlines-px) 0
            toRem($padding-mobile-after-headlines-px) 0;

        @include tablet {
            font-size: toRem($font-tablet-section-header-px);
            padding: toRem($padding-tablet-before-headlines-px) 0
                toRem($padding-tablet-after-headlines-px) 0;
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px) 0
                toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;

        @include tablet {
            flex-direction: row;
            gap: 1.5rem;
            justify-content: center;
        }
    }

    &__image {
        filter: grayscale(1);
        transition: filter 0.3s ease-in-out;
        width: 100%;

        @include tablet {
            width: 30%;
        }

        &:hover {
            filter: none;
        }
    }
}

.comments {
    padding: 0 toRem($padding-mobile-between-components-px);
    line-height: toRem($line-height-mobile-body-px);

    @include tablet {
        padding: 0 10.25vw;
        line-height: toRem($line-height-tablet-body-px);
    }
    @include desktop {
        padding: 0 18.25vw;
        line-height: toRem($line-height-tablet-body-px);
    }

    &__title-section-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-section-header-px);
        padding: toRem($padding-mobile-after-headlines-px) 0
            toRem($padding-mobile-after-headlines-px) 0;

        @include tablet {
            font-size: toRem($font-tablet-section-header-px);
            padding: toRem($padding-tablet-before-headlines-px) 0
                toRem($padding-tablet-after-headlines-px) 0;
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px) 0
                toRem($padding-desktop-after-headlines-px) 0;
        }
    }

    .new-comment {
        display: flex;

        &__profile-icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 2.25rem 1rem 0 0;
            background-size: contain;

            @include tablet {
                width: 48px;
                height: 48px;
            }
        }

        &__form-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &__form-name,
        &__form-comment {
            padding: 1rem;
            background-color: rgba($secondary-color-mercury, 0.5);
            margin-bottom: toRem(
                $padding-mobile-between-components-px
            );
            border-radius: toRem(4);
            border: 1px solid $primary-color-silver;

            &::placeholder {
                color: $primary-color-black;
            }

            &:focus {
                border-color: $primary-color-black;
            }
        }

        &--input-error-state {
            border-color: $imput-error-state;
        }

        &__form-label {
            font-family: 'Avenir Next Demi', sans-serif;
            color: $primary-color-silver;
            text-transform: uppercase;
            margin-bottom: toRem(8);
        }

        &__form-button {
            font-family: 'Avenir Next Demi', sans-serif;
            color: $primary-color-white;
            height: 40px;
            width: 100%;
            background-color: $primary-color-black;
            border: none;
            margin-bottom: toRem(
                $padding-mobile-between-components-px
            );
            border-radius: toRem(4);

            @include tablet {
                padding: 0 toRem(32);
                min-width: 150px;
            }
        }
        &__form-button:hover {
            background-color: $secondary-color-darkblack;
            cursor: pointer;
        }
    }

    .old-comments {
        border-top: 1px solid $secondary-color-mercury;
        margin: 1rem 0 1.25rem;
        padding: 0;

        &__container {
            display: flex;
            padding: 1rem 0;
            border-bottom: 1px solid $secondary-color-mercury;
        }

        &__profile-icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin: 0.25rem 1rem 0 0;
            background-size: contain;

            @include tablet {
                width: 48px;
                height: 48px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            flex-grow: 2;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }
        &__name {
            font-family: 'Avenir Next Demi', sans-serif;
            color: $primary-color-black;
            font-size: toRem($font-mobile-body-px);
            margin-bottom: toRem(8);

            @include tablet {
                font-size: toRem($font-tablet-body-px);
            }
        }
        &__date {
            color: $primary-color-silver;
            font-size: toRem($font-mobile-body-px);
            margin-bottom: toRem(8);

            @include tablet {
                font-size: toRem($font-tablet-body-px);
            }
        }
    }
}
