@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.navigation {
  background-color: #323232;
}
.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation__container {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .navigation__container {
    flex-direction: row;
  }
}
.navigation__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .navigation__list {
    width: unset;
  }
}
.navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
}
.navigation__item--active {
  font-family: "Avenir Next Demi", sans-serif;
  border-bottom: 3px solid #ffffff;
}
@media (min-width: 768px) {
  .navigation__item {
    margin: 0 0 0 4rem;
  }
}
.navigation__item:hover {
  border-bottom: 3px solid #ffffff;
}
.navigation__link {
  display: flex;
  height: 100%;
  color: #e1e1e1;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 0 0.5rem 0;
}
@media (min-width: 768px) {
  .navigation__link {
    padding: 2rem 0;
  }
}
.navigation__link--trim-padding {
  margin: 1.25rem 0 0.75rem 0;
  padding: 0;
}
@media (min-width: 768px) {
  .navigation__link--trim-padding {
    margin: 0;
  }
}
.navigation__link:hover {
  color: #ffffff;
}
.navigation__logo {
  max-width: 120px;
  max-height: 20px;
}
.navigation__logo--extrapadding {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .navigation__logo--extrapadding {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .navigation__logo {
    margin-left: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .navigation__logo {
    margin-left: 7.5rem;
    margin-right: 3rem;
  }
}

.banner {
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .banner {
    min-height: 55vw;
  }
}
.banner__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .banner__row {
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .banner__row {
    flex-direction: row;
  }
}
.banner__side {
  width: 75%;
}
@media (min-width: 1280px) {
  .banner__side {
    width: 50%;
  }
}
.banner__title-page-header {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 2.25rem;
  padding: 3rem 1rem 2rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .banner__title-page-header {
    font-size: 3.75rem;
    padding: 3rem 3.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__title-page-header {
    padding: 3rem 7.5rem 2.25rem;
  }
}
.banner__title-subheader {
  font-family: "Avenir Next", sans-serif;
  font-size: 1.125rem;
  padding: 3rem 1rem 2rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .banner__title-subheader {
    font-size: 1.5rem;
    padding: 3rem 3.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__title-subheader {
    font-family: "Avenir Next Demi", sans-serif;
    padding: 3rem 7.5rem 2.25rem;
  }
}
.banner__soundcloud-embed {
  align-self: center;
  padding: 0 1rem 2rem;
  width: 100%;
}
@media (min-width: 768px) {
  .banner__soundcloud-embed {
    width: 75%;
    align-self: flex-start;
    padding: 0 0 3rem 3rem;
  }
}
@media (min-width: 1280px) {
  .banner__soundcloud-embed {
    padding: 0 7.5rem 0 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  line-height: 1.5rem;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    justify-content: space-evenly;
    height: 25rem;
    flex-direction: column;
    padding: 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    justify-content: flex-start;
    padding: 0 7.5rem;
  }
}
.footer__line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__line {
    height: 9rem;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__line {
    justify-content: flex-start;
  }
}
.footer__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  margin: 3rem 0 0.75rem 0;
}
@media (min-width: 768px) {
  .footer__logo {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer__logo--tablet-disappear {
    display: none;
  }
}
.footer__logo--mobile-disappear {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--mobile-disappear {
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__line--nopadding {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer__boxname {
    padding-right: 5rem;
  }
}
.footer__social-media {
  padding: 1.25rem 0 1.5rem;
}
.footer__social-media img {
  padding-right: 2rem;
}
.footer__title--section-header {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 2rem 0 0.5rem 0;
}
@media (min-width: 768px) {
  .footer__title--section-header {
    padding: 0;
    font-size: 2.25rem;
    margin: 1rem 3rem 1.75rem 0;
  }
}
.footer__name {
  font-family: "Avenir Next Demi", sans-serif;
  margin: 0 0 1.35rem;
}
.footer__address, .footer__email {
  margin: 0 0 1.35rem;
}
.footer__email-address {
  text-decoration: none;
  color: #ffffff;
}
.footer__spacer {
  flex-grow: 2;
}/*# sourceMappingURL=global.css.map */