@use 'partials/variables' as *;
@use 'partials/mixins' as *;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: toRem($font-mobile-body-px);
    line-height: toRem($line-height-mobile-body-px);

    @include tablet {
        font-size: toRem($font-tablet-body-px);
        line-height: toRem($line-height-tablet-body-px);
    }
}

.navigation {
    background-color: $primary-color-black;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
        }
        @include desktop {
            flex-direction: row;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        @include tablet {
            width: unset;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        width: 100%;

        &--active {
            font-family: 'Avenir Next Demi', sans-serif;
            border-bottom: 3px solid $primary-color-white;
        }
        @include tablet {
            margin: 0 0 0 4rem;
            // margin: 0 1rem;
        }
    }
    &__item:hover {
        border-bottom: 3px solid $primary-color-white;
    }

    &__link {
        display: flex;
        height: 100%;
        color: $secondary-color-mercury;
        font-weight: bold;
        text-decoration: none;
        font-size: toRem($font-mobile-navigation-link-px);
        padding: 0 0 0.5rem 0;

        @include tablet {
            padding: 2rem 0;
        }

        &--trim-padding {
            margin: 1.25rem 0 0.75rem 0;
            padding: 0;

            @include tablet {
                margin: 0;
            }
        }
    }
    &__link:hover {
        color: $primary-color-white;
    }
    &__logo {
        max-width: 120px;
        max-height: 20px;

        &--extrapadding {
            margin-top: 1.25rem;

            @include tablet {
                margin-top: 0;
            }
        }
        @include tablet {
            margin-left: toRem($padding-tablet-between-components-px);
        }
        @include desktop {
            margin-left: toRem(
                $padding-desktop-between-components-px
            );
            margin-right: 3rem;
        }
    }
}

.banner {
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    min-height: 60vw;
    display: flex;
    align-items: center;

    &__title-page-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-page-header-px);
        padding: toRem($padding-mobile-before-headlines-px)
            toRem($padding-mobile-between-components-px)
            toRem($padding-mobile-after-headlines-px);
        color: $primary-color-white;

        @include tablet {
            font-size: toRem($font-tablet-page-header-px);
            padding: toRem($padding-tablet-before-headlines-px)
                toRem($padding-tablet-between-components-px)
                toRem($padding-tablet-after-headlines-px);
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px)
                toRem($padding-desktop-between-components-px)
                toRem($padding-desktop-after-headlines-px);
        }
    }
    &__title-subheader {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-subheader-px);
        padding: toRem($padding-mobile-before-headlines-px)
            toRem($padding-mobile-between-components-px)
            toRem($padding-mobile-after-headlines-px);
        color: $primary-color-white;

        @include tablet {
            font-size: toRem($font-tablet-subheader-px);
            padding: toRem($padding-tablet-before-headlines-px)
                toRem($padding-tablet-between-components-px)
                toRem($padding-tablet-after-headlines-px);
        }
        @include desktop {
            padding: toRem($padding-desktop-before-headlines-px)
                toRem($padding-desktop-between-components-px)
                toRem($padding-desktop-after-headlines-px);
        }
    }
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-black;
    color: $primary-color-white;
    line-height: 1.5rem;
    padding: 0 toRem($padding-mobile-between-components-px)
        toRem($padding-mobile-between-components-px);

    @include tablet {
        justify-content: space-evenly;
        height: 25rem;
        flex-direction: column;
        padding: 0 toRem($padding-tablet-between-components-px);
    }
    @include desktop {
        justify-content: flex-start;
        padding: 0 toRem($padding-desktop-between-components-px);
    }

    &__line {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            height: 9rem;
            flex-direction: row;
            align-items: center;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__logo {
        max-width: toRem(120);
        max-height: toRem(20);
        margin: 3rem 0 0.75rem 0;

        @include tablet {
            padding: 0;
            margin: 0;
        }
    }
    &__logo--tablet-disappear {
        @include tablet {
            display: none;
        }
    }
    &__logo--mobile-disappear {
        display: none;

        @include tablet {
            display: block;
        }
    }
    &__line--nopadding {
        @include tablet {
            padding: 0;
        }
    }
    &__boxname {
        @include desktop {
            padding-right: 5rem;
        }
    }
    &__social-media {
        padding: 1.25rem 0 1.5rem;
        img {
            padding-right: 2rem;
        }
    }

    &__title--section-header {
        font-family: 'Avenir Next Demi', sans-serif;
        font-size: toRem($font-mobile-section-header-px);
        margin: 0;
        padding: 2rem 0 0.5rem 0;

        @include tablet {
            padding: 0;
            font-size: toRem($font-tablet-section-header-px);
            margin: 1rem 3rem 1.75rem 0;
        }
    }
    &__name {
        font-family: 'Avenir Next Demi', sans-serif;
        margin: 0 0 1.35rem;
    }
    &__address,
    &__email {
        margin: 0 0 1.35rem;
    }
    &__email-address {
        text-decoration: none;
        color: $primary-color-white;
    }
    &__spacer {
        flex-grow: 2;
    }
}
