@font-face {
  font-family: "Avenir Next Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
.banner {
  background: url("/assets/images/hero-shows.jpg") rgba(50, 50, 50, 0.5);
}
.banner__title-page-header {
  padding: 0 1rem 2rem;
  line-height: 2.75rem;
}
@media (min-width: 768px) {
  .banner__title-page-header {
    padding: 0 3.5rem 2.25rem;
    line-height: 4.25rem;
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .banner__title-page-header {
    padding: 0 7.5rem 0;
    width: 100%;
  }
}
.banner__title-subheader {
  margin: 0;
}
@media (min-width: 768px) {
  .banner__title-subheader {
    font-size: 1.5rem;
    padding: 2.25rem 3.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__title-subheader {
    padding: 2.25rem 7.5rem 2.25rem;
  }
}

@media (min-width: 1280px) {
  .show-content {
    display: flex;
    justify-content: space-between;
  }
}
.show-content__title {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 3rem 1rem 2rem;
}
@media (min-width: 768px) {
  .show-content__title {
    line-height: 2.75rem;
    padding: 3rem 3.5rem 0;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .show-content__title {
    padding: 3rem 7.5rem 2.25rem;
  }
}

.show-list {
  padding: 0 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .show-list {
    display: none;
  }
}
.show-list__container {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1rem;
  list-style-type: none;
}
.show-list__item {
  padding: 0 0 1rem 0;
}
.show-list__show-link {
  font-family: "Avenir Next Demi", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  height: 40px;
  width: 100%;
  background-color: #323232;
  border: none;
  margin: 0 0 1rem 0;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .show-list__show-link {
    padding: 0 2rem;
    min-width: 150px;
  }
}
.show-list__show-link:hover {
  background-color: #000000;
  cursor: pointer;
}
.show-list--title {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #afafaf;
}
.show-list--bold {
  font-family: "Avenir Next Demi", sans-serif;
}

.show-list-tablet {
  display: none;
  flex-grow: 2;
}
@media (min-width: 768px) {
  .show-list-tablet {
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem 1rem;
  }
  .show-list-tablet__title {
    font-family: "Avenir Next Demi", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #afafaf;
    width: 24%;
  }
  .show-list-tablet__item {
    width: 24%;
  }
  .show-list-tablet--bold {
    font-family: "Avenir Next Demi", sans-serif;
  }
  .show-list-tablet__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
    border-bottom: 1px solid #e1e1e1;
    list-style-type: none;
  }
  .show-list-tablet__row--selected {
    background-color: #e1e1e1;
  }
  .show-list-tablet__row--selected:hover {
    background-color: #e1e1e1 !important;
  }
  .show-list-tablet__row:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  .show-list-tablet__row--title {
    border-bottom: none;
    padding: 3rem 0 1rem;
  }
  .show-list-tablet__show-link {
    font-family: "Avenir Next Demi", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    height: 40px;
    background-color: #323232;
    border: none;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .show-list-tablet__show-link {
    padding: 0 2rem;
    min-width: 150px;
  }
}
@media (min-width: 768px) {
  .show-list-tablet__show-link:hover {
    background-color: #000000;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .show-list-tablet {
    padding: 1rem 7.5rem 1rem;
  }
}/*# sourceMappingURL=shows.css.map */