@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 700;
}
.banner {
  background: url("/assets/images/hero-shows.jpg") rgba(50, 50, 50, 0.5);
}
.banner__title-page-header {
  padding: 0 1rem 2rem;
  line-height: 2.75rem;
}
@media (min-width: 768px) {
  .banner__title-page-header {
    padding: 0 3.5rem 2.25rem;
    line-height: 4.25rem;
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .banner__title-page-header {
    padding: 0 7.5rem 0;
    width: 100%;
  }
}
.banner__title-subheader {
  margin: 0;
}
@media (min-width: 768px) {
  .banner__title-subheader {
    font-size: 1.5rem;
    padding: 2.25rem 3.5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__title-subheader {
    padding: 2.25rem 7.5rem 2.25rem;
  }
}

@media (min-width: 1280px) {
  .show-content {
    display: flex;
    justify-content: space-between;
  }
}
.show-content__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 3rem 1rem 2rem;
}
@media (min-width: 768px) {
  .show-content__title {
    line-height: 2.75rem;
    padding: 3rem 3.5rem 0;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .show-content__title {
    padding: 3rem 7.5rem 2.25rem;
  }
}

.show-list {
  padding: 0 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .show-list {
    padding: 3.5rem 3.5rem 1rem;
  }
}
.show-list__container {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1rem;
  list-style-type: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .show-list__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}
.show-list__container--selected {
  background-color: #e1e1e1;
}
.show-list__container--selected:hover {
  background-color: #e1e1e1 !important;
}
.show-list__container:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.show-list__item {
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .show-list__item {
    padding: 0;
    width: 24%;
  }
}
.show-list__show-link {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  border: none;
  margin: 0 0 1rem 0;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .show-list__show-link {
    width: unset;
    margin: 1rem 0;
    padding: 0 2rem;
  }
}
.show-list__show-link:hover {
  background-color: #000000;
  cursor: pointer;
}
.show-list--title {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #afafaf;
}
@media (min-width: 768px) {
  .show-list--title {
    display: none;
  }
}
.show-list--bold {
  font-weight: 600;
}/*# sourceMappingURL=shows.css.map */